$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-quarternary: #f2f2f2;
$color-white: #fff;
$color-black: #000;
$color-background-tag: #99e2d0;
$color-tag: #008766;
$font-shrikhand: "Shrikhand", cursive;
$font-roboto: "Roboto", sans-serif;

@media screen and (min-width: 992px) {
  body {
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /* TYPOGRAHY */
  h1 {
    font-size: 40px;
    font-family: $font-shrikhand;
    text-align: center;
    font-weight: 100;
  }

  h2 {
    font-size: 35px;
  }
  .menu__restaurant {
    h2 {
      font-family: $font-shrikhand;
      font-weight: 500;
    }
  }

  p {
    font-size: 20px;
  }

  h3 {
    font-size: 25px;
    font-weight: 600;
  }

  .tag {
    font-size: 14px;
  }

  h4 {
    font-size: 22px;
  }

  .menu__presentation__h3 {
    font-weight: 400;
  }

  /* BUTTONS */
  .reservation__btn {
    width: 350px;
    height: 60px;
    font-size: 20px;
  }

  .commander__btn {
    .commander__btn--form {
      font-size: 20px;
      width: 350px;
      height: 60px;
    }
  }

  /* HEADER */
  /* Header pages des restaurants */

  .header--image-fond {
    height: 450px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  /* CARDS */

  /* Section menu restaurants */
  .card-icon .fa-heart {
    font-size: 30px;
  }

  /* Pages menu restaurants */
  .carte {
    grid-template-rows: 96px;
    height: 96px;
    margin-top: 40px;
  }

  /* MENUS DES RESTAURANTS */
  .menu__presentation__container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 25px;
    justify-content: center;

    .menu__presentation__h3 {
      margin-bottom: 50px;
    }
  }

  .menu__presentation {
    .menu__presentation {
      display: grid;
      grid-row-gap: 15px;
      grid-template-rows: 60px 96px 96px 96px;
    }

    .fa-check-circle {
      font-size: 25px;
    }
  }

  /* SECTION FONCTIONNEMENT */
  .fonctionnement {
    width: 95%;

    ol.fonctionnement__container-filtres {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  /* SECTION RESERVATION  */
  .reservation {
    p {
      font-size: 20px;
    }
  }

  /* SECTION RESTAURANT  */
  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;

    h2 {
      width: 95%;
    }

    .card {
      width: 45%;
      height: 270px;
    }
  }

  /* FOOTER */
  .footer {
    flex-direction: row;
    width: 100%;

    h2 {
      width: 15%;
      font-size: 22px;
      margin: auto;
    }

    .footer__nav {
      display: flex;
      flex-direction: row;
      width: 80%;
      align-items: center;

      .footer__icone {
        width: 20%;
      }

      a {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 18px;
      }

      i {
        width: 10%;
      }
    }
  }
}
