@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./base/reset";
@import "./base/typography";
@import "./base/animations";
@import "./layout/header";
@import "./layout/section-localisation";
@import "./layout/section-reservation";
@import "./layout/section-fonctionnement";
@import "./layout/section-restaurant";
@import "./layout/menus-des-restaurants";
@import "./layout/footer";
@import "./components/loader";
@import "./components/cards";
@import "./components/buttons";

body {
  box-sizing: border-box;
  font-family: $font-roboto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 100%;
}
li,
a {
  text-decoration: none;
  list-style-type: none;
  color: $color-black;
}
