@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./base/reset";
@import "./base/typography";
@import "./layout/header";
@import "./layout/section-localisation";
@import "./layout/section-reservation";
@import "./layout/section-fonctionnement";
@import "./layout/section-restaurant";
@import "./layout/menus-des-restaurants";
@import "./layout/footer";
@import "./components/cards";
@import "./components/buttons";

body {
  box-sizing: border-box;
  font-family: $font-roboto;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 100%;
}
li,
a {
  text-decoration: none;
  list-style-type: none;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  body {
    min-width: 769px;
    max-width: 991px;
  }
}
@media all and (min-width: 992px) and (max-width: 1920px) {
  body {
    min-width: 992px;
    max-width: 1920px;
  }
}
