/* VERSION MOBILE */

/* PAGE ACCUEIL SECTION FONCTIONNEMENT */
.fonctionnement__container-filtres {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}
.filtre {
  display: flex;
  width: 100%;
  height: 75px;
  border-radius: 25px;
  margin: 16px;
  @include card-shadow;

  &.filtre--background {
    background-color: $color-quarternary;
  }

  :hover {
    background-color: rgba($color-primary, 0.1);
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
    @include card-shadow-darken;

    p {
      box-shadow: unset;
      background-color: transparent;
    }

    .fas {
      color: $color-primary;
    }
    &.filtre--background {
      background-color: $color-quarternary;
    }
  }

  .filtre--form {
    display: flex;
    align-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    font-size: 50px;

    .filtre__number {
      margin-left: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      width: 25px;
      height: 25px;
      background-color: $color-primary;
      border-radius: 50%;
      color: $color-white;
    }
  }
  .filtre--description {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: -10px;

    &:hover {
      margin-left: -13px;
    }
    .fas {
      margin-right: 20px;
    }
  }
}
/* PAGE ACCUEIL SECTION RESTAURANTS */
.card {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 8px auto;
  background-color: $color-white;
  border-radius: 15px;
  height: 250px;
  position: relative;
  @include card-shadow;

  .card__tag {
    position: absolute;
    right: 0.75rem;
    top: 5%;
    background-color: $color-background-tag;
    color: $color-tag;
    padding: 10px;
    border-radius: 3px;
  }

  img {
    height: 175px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    width: 100%;
  }
}
.card--form:hover {
  @include card-shadow-darken;
  @include opacity;
}
.restaurant__description {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;

  .restaurant__description__textes {
    width: 100%;
  }

  & h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  .fa-heart {
    font-size: 20px;
    position: absolute;
    right: 0;
  }
  /* Coeurs au survol */
  .icone-heart--full {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    @include gradient;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

/* !Pages restaurants Menu */
.carte {
  background-color: $color-white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 66px;
  @include card-shadow;
  animation: move 1s;
  animation-fill-mode: both;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  @for $i from 2 through 5 {
    &:nth-child(#{$i}) {
      animation-delay: 100ms * $i;
    }
  }

  .carte__description-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 40%);
    animation: opacity 1s;

    h4 {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 5px;
    }
  }
  .carte__prix {
    display: flex;
    align-items: flex-end;
    margin-left: 10%;
    margin-right: 5%;
    animation: opacity 1s;
  }
}

.carte__icone {
  width: 0px;
  transition: width 0.5s;
  background-color: $color-background-tag;
  color: white;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  display: flex;
  align-items: center;
  justify-content: center;

  .carte__slide {
    transition: transform 0.5s;
  }
}

.carte:hover {
  .carte__icone {
    width: 20%;

    .carte__slide {
      transform: rotate(1turn);
    }
  }
}
