/* Section Loader */
.section {
  position: fixed;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: rgba($color: $color-black, $alpha: 0.7);
  animation: loader-anim-background 1500ms linear forwards;
  justify-content: center;
  align-items: center;

  /* loader icone ohmyfood */
  .loader__img {
    animation: appear 500ms;
    width: 80%;
    transform-origin: bottom right 60px;
  }
}
