/* Opacité texte apparition chargement */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apparition carte restaurant par le haut */
@keyframes move {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Bouton check sur les plats*/

@keyframes check {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* LOADER background */
@keyframes loader-anim-background {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* Apparition loader */
@keyframes appear {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
