@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

@media screen and (max-width: 768px) {
  h1 {
    font-family: $font-shrikhand;
    font-size: 30px;
    text-align: center;
    font-weight: 100;
  }

  h2 {
    font-size: 25px;
  }
  .menu__restaurant {
    h2 {
      font-family: $font-shrikhand;
      font-weight: 500;
    }
  }

  p {
    font-size: 16px;
  }

  .tag {
    font-size: 14px;
  }

  h4 {
    font-size: 18px;
  }
  .localisation {
    & h3 {
      font-size: 20px;
    }
  }
  .menu__presentation__h3 {
    font-size: 16px;
    font-weight: 400;
  }
}
