@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

h1 {
  font-family: $font-shrikhand;
  font-size: 30px;
  text-align: center;
}

.fonctionnement h2 {
  font-size: 25px;
}

p {
  font-size: 16px;
}

.tag {
  font-size: 14px;
}

h4 {
  font-size: 18px;
}
